<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档碎片</title>
</head>
<body>
    <ul id="list">
  
    </ul>
    <script>
     const items=[
      {
        id:1,
        name:'钟文城',
        content:'内容1'
      },
      {
        id:2,
        name:'赖泽阳',
        content:'内容2'
      }
     ]
      const container =document.getElementById('list')
    // const oDiv=document.createElement('div');
    // 性能优化，文档碎片
    const fragment=document.createDocumentFragment();
      items.forEach(items=>{
        const wrapper=document.createElement('div');
        const title=document.createElement('h3');
        const desc=document.createElement('p');
        title.textContent=items.title;
        desc.textContent=items.desc;
        wrapper.appendChild(title);
        wrapper.appendChild(desc);
        fragment.appendChild(wrapper);
      })

      container.appendChild(fragment);
    </script>
</body>
</html>